.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900*/

.inter-uniquifier {
  /*font-optical-sizing: auto;
  - Nao sei pq o validador nao aceita essa propriedade... MDN diz que existe o valor AUTO nessa propriedade*/
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900*/

.noto-sans-uniquifier {
  /*font-optical-sizing: auto;
  - Nao sei pq o validador nao aceita essa propriedade... MDN diz que existe o valor AUTO nessa propriedade*/
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-regular {
  font-weight: 400;
}

.inter-medium {
  font-weight: 500;
}

.inter-bold {
  font-weight: 700;
}

.noto-regular {
  font-weight: 400;
  font-style: normal;
}

.noto-italic {
  font-weight: 400;
  font-style: italic;
}
